@font-face {
    font-family: doom;
    src: url('https://dl.dropboxusercontent.com/u/69387792/fonts/AmazDooMLeft.woff') format('woff');
}

@font-face {
    font-family: wolf;
    src: url("https://dl.dropboxusercontent.com/u/69387792/fonts/return.ttf") format("truetype");
}

@font-face {
    font-family: euro;
    src: url("https://dl.dropboxusercontent.com/u/69387792/fonts/eurostarregularextended.ttf") format("truetype");
}

@font-face {
    font-family: hud1;
    src: url("https://dl.dropboxusercontent.com/u/69387792/fonts/upheavtt.ttf") format("truetype");
}

@font-face {
    font-family: hud2;
    src: url("https://dl.dropboxusercontent.com/u/69387792/fonts/DooM.ttf");
}

html a {
    text-decoration: none !important;
    outline: none !important;
}

a {
    color: #fff;
    text-decoration: none !important;
    outline: none !important;
}

a:hover {
    outline: none;
    text-decoration: none;
}

a:active {
    outline: none;
    text-decoration: none;
}

body {
    color: #fff;
}

#content-wrapper {
    background: url('https://dl.dropboxusercontent.com/u/69387792/fonts/Pz9KuiU.png') repeat;
    border-bottom: solid 2px;
    border-color: #000;
}

#header .content  {
    font-family: doom !important;
}

#header .content .title  {
    font-family: doom !important;
    font-weight: normal;
    font-size: 48px;
    color: #fff;
    text-shadow:
            -2px -2px 0 #000,
            2px -2px 0 #000,
            -2px 2px 0 #000,
            2px 2px 0 #000;
    letter-spacing: 2px;
}

#header .content .title:hover {
    color: #bbb;
}

#header .content .title:active {
    color: #777;
}

.container {
    width: auto;
    padding-left: 10%;
    padding-right: 10%;
}

#header .content .title.inthread {
    font-family: wolf;
    opacity: .8;
    letter-spacing: 1px;
}

#header .content .threadname.inthread {
    font-family: doom;
    font-weight: normal;
    font-size: 48px;
    color: #fff;
    text-shadow:
            -2px -2px 0 #000,
            2px -2px 0 #000,
            -2px 2px 0 #000,
            2px 2px 0 #000;
    letter-spacing: 2px;
}
#header .header .forumIcon {
    text-shadow:
            -2px -2px 0 #000,
            2px -2px 0 #000,
            -2px 2px 0 #000,
            2px 2px 0 #000;
}

#header .content .threadname.inthread:hover {
    color: #ccc;
}

#header .content .threadname.inthread:active {
    color: #777;
}

forum-threads .thread.read {
    background-color: #333;
    box-shadow: none !important;
    color: #aa80aa !important;
}

forum-threads .thread {
    background-color: #111;
    color: #FF5050;
    -moz-box-shadow: 0 0 10px #FF5050;
    -webkit-box-shadow: 0 0 10px #FF5050;
    box-shadow: 0px 0px 10px #FF5050;
}

forum-threads .thread a {
    color: #FF5050;
}

.pagination .btn {
    background-color: #c00;
}

.pagination .btn:hover {
    background-color: #a00;
}

.pagination .btn:focus {
    outline: #000 solid thin;
}

.pagination .btn:active {
    background-color: #600;
}

.PostView .forumPost.seen .post .body {
    background-color: #222;
    border: none;
}

.PostView .forumPost .post .body {
    background-color: #000;
    border-left: 1px solid #900;
    border-right: 1px solid #900;
    -webkit-box-shadow: 0 1px 4px rgba(30, 30, 30, 0.3), 0 0 40px rgba(30, 30, 30, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(30, 30, 30, 0.3), 0 0 40px rgba(30, 30, 30, 0.1) inset;
    box-shadow: 0 1px 4px rgba(30, 30, 30, 0.3), 0 0 40px rgba(30, 30, 30, 0.1) inset;
}

.PostView .forumPost.seen .post .header {
    background-color: #600;
}
.PostView .forumPost .post .header {
    border-bottom: #400 2px solid;
    background-color: #500;
}

.user a {
    color: #fff;
    font-family: euro;
    letter-spacing: 1px;
}

.user a:hover {
    color: #ddd;
}

.user a:active {
    color: #888;
}

.time a {
    font-family: euro;
    font-weight: 800;
    letter-spacing: 1px;
}

.PostView .forumPost .post .body.viewcode {
    background-color: #1C2740 !important;
    color: #fff !important;
}

#footer {
    background-color: #222;
    border: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 1), 0 0 40px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 1), 0 0 40px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 1), 0 0 40px rgba(0, 0, 0, 1);
}

forum-poster .content {
    background-color: #111;
}

.form-control {
    color: #fff;
}

forum-poster .header {
    color: #ddd;
    background-color: #600;
    border-bottom: #300 2px solid;
}

#header .header {
    background-color: #222;
    border: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 1), 0 0 40px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 1), 0 0 40px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 1), 0 0 40px rgba(0, 0, 0, 1);
}

#header .header .usermenu {
    border: #000 1px solid;
}

.btn-primary {
    background-color: #d00 !important;
    padding-left: 25px;
    padding-right: 25px;
    text-decoration: none !important;
    outline: none !important;
    box-shadow: 0px 0px 5px #000;
}

.btn-primary:hover {
    background-color: #900 !important;
}

.btn-primary:active {
    background-color: #400 !important;
}

.btn-primary:link {
    background-color: #900 !important;
}

.form-control {
    background-color: #222;
    border-color: #000;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #222;
}

.table-striped>tbody>tr:nth-of-type(even) {
    background-color: #000;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    border-color: #300;
}

.panel {
    background-color: #111;
}

#textinput {
    background-color: #111;
}

input {
    background-color: #111;
    border-color: #000;
}


forum-threads .thread.closed a {
    color: #999 !important;
}

forum-threads .thread.closed {
    border-left: none;
    background-color: #222 !important;
    color: #777 !important;
}

forum-threads .thread.sticky {
    background-color: #111 !important;
    -moz-box-shadow: 0 0 10px #4C981E !important;
    -webkit-box-shadow: 0 0 10px #4C981E !important;
    box-shadow: 0px 0px 10px #4C981E !important;
    border-left: 8px solid #4C981E !important;
    color: #4c981e !important;
}

forum-threads .thread.updated {
    color: #B095FF;
    border-left: 8px solid #B095FF;
    background-color: #111;
    box-shadow: 0px 0px 10px #B095FF;
}

forum-threads .thread.updated .threadlink, forum-threads .thread.updated a {
    color: #B095FF !important;
}

forum-threads .thread.sticky .threadlink, forum-threads .thread.sticky a {
    color: #0f0 !important;
}

forum-threads .thread.read .threadlink, forum-threads .thread.read a {
    color: #ccaacc;
}

forum-threads .thread .postcount a, forum-threads .thread .lastpost a {
    color: inherit;
}

.PostView .forumPost .post .body blockquote {
    background: rgba(30,0,0,0.5);
    border-color: #800;
    color: #dd9090;
    -moz-box-shadow: 0 0 10px #900 !important;
    -webkit-box-shadow: 0 0 10px #900 !important;
    box-shadow: 0px 0px 10px #900 !important;
}

.PostView .forumPost.seen .post .footer {
    background-color: #222;
    border: none !important;
}

.PostView .forumPost .post .footer {
    background-color: #000;
    border-bottom: 1px solid #900;
    border-left: 1px solid #900;
    border-right: 1px solid #900;
}

.shadow {
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.modal-header {
    background-color: #750000;
    border-bottom: 1px solid #4C2525;
}

.modal-footer {
    background-color: #750000;
    border-top: 1px solid #4C2525;
}

.modal-footer .btn-default {
    color: #fff;
    background-color: #d00 !important;
    border-radius: 45px;
    padding-left: 25px;
    padding-right: 25px;
    text-decoration: none !important;
    outline: none !important;
    text-transform: uppercase;
}

.modal-footer .btn-default:hover {
    background-color: #900 !important;
}

.modal-footer .btn-default:active {
    background-color: #400 !important;
}

.modal-footer .btn-default:link {
    background-color: #900 !important;
}

.close {
    opacity: 0.8;
}

.modal-header .close {
    color: #fff;
}

.modal-body {
    background-color: #333;
}

#sidebar {
    background: url('https://dl.dropboxusercontent.com/u/69387792/fonts/side-bg.png') repeat;
    box-shadow: 2px 0px 50px #000;
    padding-top: 0;
    font-family: euro;
    text-shadow: 1px 2px #000;
}

#sidebar .userarea {
    background: url('https://dl.dropboxusercontent.com/u/69387792/fonts/test-layout.png');
    image-rendering: pixelated;
    margin-bottom: 0;
    height: 100px;
}

#sidebar .userarea .links a {
    font-family: hud1;
    color: ##ffff58;
}

#sidebar .userarea .links a:hover {
    color:  #dddd36;
}

#sidebar .userarea .links a:active {
    color:  #bbbb14;
}

#sidebar .userarea .username a {
    font-family: hud2;
    color: #fff;
    font-weight: normal;
    font-size: 15px;
    text-shadow: 1px 3px #000;
}

#sidebar .userarea .username a:hover {
    color: #ddd;
}

#sidebar .userarea .username a:active {
    color: #aaa;
}

#sidebar ul li a {
    background: url('https://dl.dropboxusercontent.com/u/69387792/fonts/test-layout2.png');
    height: 33px;
    image-rendering: pixelated;
    color: #ffff58;
    font-family: hud1;
    font-weight: normal;
    text-shadow: 1px 2px #000;
    padding-left: 48px;
    letter-spacing: 0.5px;
}

#sidebar ul li a:hover {
    color: #dddd36;
}

#sidebar ul li a:active {
    color: #bbbb14;
}

#sidebar ul li {
    min-height: 33px;
}

#sidebar ul {
    background-color: initial;
}

#sidebar ul li .glyphicon canvas, #sidebar ul li forum-icon canvas {
    margin-left: 1px;
    margin-top: 5px;
}

.thinpanel .header {
    background-color: #600;
    font-family: euro;
    color: #fff;
    border-bottom: #400 2px solid;
}

.thinpanel .header .characters span {
    color: #ffff58;
}

.thinpanel .content textarea {
    background-color: #111;
}

#Dockbar {
    background-color: #600;
    border-top: 1px solid #000;
    box-shadow: 0 0 10px #000;
}

.pagination .SearchBox:last-child, .pagination .btn:last-child {
    margin-right: 4px;
}